.button_color
{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
}

.bg_red
{
    -fx-background-color:  #e72f2b;
}

.bg_white
{
    -fx-background-color:  #FFFFFF;
}

.bg_blue
{
    -fx-background-color:  #0e4c71;
}

.border
{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0, 10), 5, 0, 0, 0);

}


.menu-button
{
    -fx-background-color: #0e4c71;
}

.menu-item
{
    -fx-font-size: 15px;
    -fx-pref-width: 157px;
    -fx-pref-height: 28.8px;

}

.menu-item:hover
{
    -fx-background-color:  #e72f2b;
}

.button_color_yellow
{
    -fx-background-color: #f8ab20;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0, 20), 10, 0, 0, 0);
}

.button:hover
{
    -fx-background-color: #f8ab20;
}

#boton_usuario:hover
{
    -fx-background-color: #0e4c71;
}


.text-field
{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0, 10), 5, 0, 0, 0);
    -fx-alignment: center;
}

.table-view
{
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-border-color: black;
    -fx-border-width: 1px;
}
.table-view .table-column
{
    -fx-alignment: center;
}

.table-view .column-header-background
{
    -fx-background-color: #e72f2b;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 10px 10px 0 0;
}

.table-view .column-header, .filter
{
    -fx-background-color: transparent;
    -fx-size: 40px;
}

.table-view .column-header .label
{
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
    -fx-font-weight: bold;

}

